.App {
  text-align: center;
}

.timeInput {
  margin-top: 20%;
}
.countdownDisplay {
  border: black;
  padding: 20px;
}

li {
  display: inline-block;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 1em;
}

li span {
  display: block;
  font-size: 4.5rem;
}

label {
  padding: 1em;
}

.buttons {
  padding: 20px;
}

button {
  border-radius: 30px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
